@use "sass:color";
/* variables */

/* type scale */
$type-size-1                : 2.441em !default;  // ~39.056px
$type-size-2                : 1.953em !default;  // ~31.248px
$type-size-3                : 1.563em !default;  // ~25.008px
$type-size-4                : 1.25em !default;   // ~20px
$type-size-5                : 1em !default;      // ~16px
$type-size-6                : 0.75em !default;   // ~12px
$type-size-7                : 0.6875em !default; // ~11px
$type-size-8                : 0.625em !default;  // ~10px
$type-size-9                : 0.563em !default;  // ~9px
$type-size-10               : 0.5em !default;    // ~8px

/* Colors */
$highlight-color            : #ff6600;
$gray                       : #5B5B66;
$dark-gray                  : color.mix(#000, $gray, 40%);
$darker-gray                : color.mix(#000, $gray, 60%);
$light-gray                 : color.mix(#fff, $gray, 50%);
$lighter-gray               : color.mix(#fff, $gray, 90%);

$link-color                 : $gray;
$link-color-hover           : $highlight-color;